<div>
  <ul>
    <% if @errors %>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
</div>


<%= form_for @experiment_proposal, :html => {:class => ""} do |f| %>
  <div class="field">
    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title, size: 100 %></p>
  </div>
  <div class="field">
    <p><%= f.label 'Summary' %></p>
    <p><%= f.text_area :summary, cols: 100, rows: 10 %></p>
  </div>
  <div class="field">
    <p><%= f.label 'Hypothesis' %></p>
    <p><%= f.text_area :hypothesis, cols: 100, rows: 8 %></p>
  </div>
  <div>
    <!-- <p><%= f.label 'Status' %></p>
    <p><%= f.text_area :status %></p>
    <select>
      <option value="open">Open</option>
      <option value="closed">Closed</option>
    </select> -->
    <%= f.select :status, options_for_select([['Open'], ['Closed']], selected: @experiment_proposal.status) %>
  </div>
  <div>
    <p><%= f.submit'Edit Proposal' %><p>
</div>
<% end %>
