<h1>New Experiment Proposal</h1>

<div>
  <ul>
    <% if @errors %>
      <% @errors.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="form">
<%= form_for :experiment_proposal, url: { action: "create" } do |f| %>
  <div>

    <p><%= f.label 'Title' %></p>
    <p><%= f.text_field :title, size: 100 %></p>
  </div>
  <div>
    <p><%= f.label 'Summary' %></p>
    <p><%= f.text_area :summary, cols: 100, rows: 10 %></p>
  </div>
  <div>
    <p><%= f.label 'Hypothesis' %></p>
    <p><%= f.text_area :hypothesis, cols: 100, rows: 7 %></p>

  </div>
  <div>
    <%= f.submit'Create Proposal' %>
  </div>
<% end %>
</div>
