<h1>New Experiment Proposal</h1>

<div>
  <ul>
    <% if @errors %>
      <% @errors.each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="form">
<%= form_for :experiment_proposal, url: { action: "create" } do |f| %>
  <div>
    <%= f.label 'Title' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label 'Summary' %>
    <%= f.text_area :summary %>
  </div>
  <div>
    <%= f.label 'Hypothesis' %>
    <%= f.text_area :hypothesis %>
  </div>
  <div>
    <%= f.submit'Create Proposal' %>
  </div>
<% end %>
</div>
