<h1><%= @experiment_proposal.title %></h1>

<div>
  <div>
    <h3>Status</h3>
    <p><%= @experiment_proposal.status%></p>
  </div>
  <div>
    <h3>Summary</h3>
    <p><%= @experiment_proposal.summary%></p>
  </div>
  <div>
    <h3>Hypothesis</h3>
    <p><%= @experiment_proposal.hypothesis%></p>
  </div>
</div>

<div>
  <%= link_to 'Add an Experiment', new_experiment_proposal_path %>
</div>
