<div class="form">
  <%= form_for [@experiment_proposal, @experiment] do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, size: 100 %>
    </div>
    <div>
      <%= f.hidden_field :experiment_proposal_id, :value => @experiment_proposal.id %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
