<h2>form EDIT partial</h2>
<%= form_for [@experiment_proposal, @experiment] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :result %>
    <%= f.text_field :result %>
  </p>
  <p>
    <%= f.label :conclusion %>
    <%= f.text_field :conclusion %>
  </p>
  <p>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.hidden_field :experiment_proposal_id, :value => @experiment_proposal.id %>
    <%= f.submit %>
  </p>
<% end %>
<h2>form EDIT partial</h2>
