<%= form_for [@experiment_proposal, @experiment] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.hidden_field :experiment_proposal_id, :value => @experiment_proposal.id %>
    <%= f.submit %>
  </p>
<% end %>
