<div class="top-info">
  <h1><%= @experiment.experiment_proposal.title %></h1>
  <p>Proposed By: <%= @experiment.experiment_proposal.user.username %></p>
</div>

<div class="show-info">
  <div>
    <h2>Experiment: <%= @experiment.title %></h2>
    <p>Created By: <%= @experiment.user.username %></p>
  </div>

  <% if @experiment.result %>
    <div>
      <h3>Results:</h3>
      <p><%= @experiment.result %></p>
    </div>
  <% end %>

  <% if @experiment.conclusion %>
    <div>
      <h3>Conclusion:</h3>
      <p><%= @experiment.conclusion %></p>
    </div>
  <% end %>

  <div class="status">
    <h3>Status:</h3>
    <p><%= @experiment.status %></p>
  </div>

  <% if @experiment.comments.count > 0  %>
    <div>
      <h3>Comments:</h3>
      <ul>
        <% @experiment.comments.each do |c| %>
          <li><%= c.body %></li>
          <p>Comment By: <%= c.user.username %></p>
          <% end %>
      </ul>
    </div>
  <% end %>

  <% if @experiment.observations.count > 0  %>
    <div>
      <h3>Observations:</h3>
      <ul>
        <% @experiment.observations.each do |o| %>
          <li><%= o.body %></li>
          <p>Observed By: <%= o.user.username %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @experiment.procedures.count > 0  %>
    <div>
      <h3>Procedures:</h3>
      <ul>
        <% @experiment.procedures.each do |p| %>
          <li>Step <%= p.step %>. <%= p.body %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="buttons">
    <button><%= link_to 'Edit Experiment', edit_experiment_proposal_experiment_path %></button>
    <button><%= link_to("Delete Experiment", experiment_proposal_experiment_path, method: :delete) %></button>
    <button><%= link_to "Create an Observation", new_experiment_proposal_experiment_observation_path(@experiment.experiment_proposal, @experiment) %></button>
    <button><%= link_to "Add a Procedure", "/experiments/#{@experiment.id}/procedures/new" %></button>
  </div>
</div>
