<h3>Add a Procedure</h3>

<%if @errors%>
  <ul>
    <%@errors.each do |error|%>
      <li><%=error%></li>
    <%end%>
  </ul>
<%end%>

<%= form_for [@experiment, @procedure], :url => "/experiments/#{@experiment.id}/procedures" do |f| %>
  <div>
    <%= f.label :step %>
    <%= f.select :step, (@experiment.procedures.count+1..100) %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, size: 100 %>
  </div>
  <div>
    <%= f.hidden_field :experiment_id, :value => @experiment.id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

