<!DOCTYPE html>
<html>
  <head>
    <title>LabratoryRetrievers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <a class="nav-item" href="/experiment_proposals">Home</a>
        <a class="nav-item" href="/users/<%=current_user.id%>"><%=current_user.username%></a>
        <a class="nav-item" href="/users/logout">Logout</a>
      <% else %>
        <a class="nav-item" href="/users/login">Login</a>
        <a class="nav-item" href="/users/new">Register</a>
      <% end %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
