<!DOCTYPE html>
<html>
  <head>
    <title>LabratoryRetrievers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <a href="/experiment_proposals">Home</a>
        <a href="/users/<%=current_user.id%>"><%=current_user.username%></a>
        <a href="/users/logout">Logout</a>
      <% else %>
        <a href="/users/login">Login</a>
        <a href="/users/new">Register</a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
